body {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 27px 4px rgb(0 0 0 / 7%);
}

nav img {
  width: 150px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: #00335a;
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 38px;
  margin-top: 0;
}

.text {
  color: rgb(83, 89, 94);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.success {
  color: rgb(8, 131, 34);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 25px 50px;
  border-radius: 10px;
  border: 1px solid rgba(8, 131, 34, .25);
  background-color: rgba(8, 131, 34, .10);
}

span.text {
  font-size: 12px;
}

form {
  margin-top: 20px;
}

form input {
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
}
